.DS_Store
TreeBuilder/bin
*.class
TreeBuilder/bin/ch/uzh/agglorecommender/datasets/Grouplens/grouplensSmall_properties_no_xmlSchema_link.xml
TreeBuilder/bin/ch/uzh/agglorecommender/datasets/GrouplensBig/grouplensBig_properties_no_meta.xml
TreeBuilder/bin/ch/uzh/agglorecommender/recommender/*
!.classpath
!SubsetsGenerator.class
!SubsetsGenerator$.class
!SubsetsGenerator$$anonfun$remainingSubsets$1.class
!SubsetsGenerator$$anonfun$remainingSubsetsAsList$1.class
!SubsetsGenerator$$anonfun$subsetsAsList$1.class
